<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Verse</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icons/va_logo.jpg') }}">
</head>

<body>
    <header>
        <h1>The Verse</h1>
        <nav>
            <a href="/" class="{{ 'active' if active_page == 'home' else '' }}">Home</a>
          
        </nav>
    </header>
    <div class="gradient-strip"></div>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>Copyright © 2025 Virtual Analytics, All Rights Reserved |
            <a href="#">Terms & Conditions</a> |
            <a href="#">Privacy Policy</a>
        </p>
    </footer>
</body>
</html>
