{% extends "base.html" %}
{% block content %}

<!-- Hero Section -->
<section class="hero">
  <div class="container">
    <div class="hero-text">
      <h2>Manage Claims Data with Ease</h2>
      <p>
       The Verse is an innovative application designed to enhance claims prediction in the insurance sector, empowering insurers with accurate, data-driven insights to improve decision-making and operational efficiency.
      </p>
      <a href="#" class="cta-button">Login →</a>
    </div>
    <div class="hero-image">
        
        
          
          
          
    </div>
  </div>
</section>


  
  

{% endblock %}
